<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <head th:include="web/fragments.html :: head"></head>
</head>
<body>
    <nav th:include="web/fragments.html :: top-navigation"></nav>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Home page
                </div>
            </div>
        </div>
    </main>

    <footer th:include="web/fragments.html :: footer"></footer>
</body>
</html>